# Airtable Configuration
AIRTABLE_API_KEY=patLNWWeMe4yLOc5E.eca46f24feb65b9b68d66ace2622712c13c45eab450e6845ca8e7a1ec8e86a25
AIRTABLE_BASE_ID=appDeee91c9gYF0zE
AIRTABLE_TABLE_NAME=tbllZ5tnu2nGKaTvG

# Next.js Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
